@model ecpay_sample.Models.ViewModel.VMGateway
@{
    Layout = null;
    ViewBag.Title = "ＥＣＰＡＹＣＣ";
}

<html>
<head>
    <title>選擇支付方式 | 羽幌支付 HaPay</title>
</head>
<body>


    @Html.Raw(Model.formhtml)
</body>
</html>


